@charset "utf-8";


/* HTML and Body Styles */
html{
    background-color: #002e56;
}

body{
background-color: #F4F0EC;
 margin: 0 auto;
padding: 12;
max-width: 1020px;
min-width: 640px;
color: #080808;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*Image, Links, and Link Hover Styles*/
.me{
    height:250px;
    width:250px;
    
}

.travel{
    height:260px;
    width:240px;
}

.school1{
height:200px;
width:200px;
}

.school2{
    height:200px;
    width:200px;
}

.displaycolor:hover{
    color: #7DF9FF;
    font-size: 40pt;
}

.work{
    width: 480px;
   }

a{
    color:#080808; 
}

a:hover{
    color: #a76bcf;
    font-size: 28px;
}

/*Div Rules*/
div[class^="col-"]
{
    float: left;
}

div.row{
    clear: both;
    text-align: center;
}

div.row::after{
    clear: both;
    content: "";
    display: table;
}

div.col-1-2 {width: 100%}

footer{
    font-size: 20pt;
}

div{
    outline: 1px solid #080808;
}

div h1{
    outline: 5px solid #080808;
    text-align: center;
} 

col{
background: white;
border: 10px outset black;
width:100%;

}

.table{
    padding: 15px;
    float: center;
    background-color: darkcyan;
    width:990px;
    line-height: 20px;
 }

td{
    border: 1px solid black;
    height: 300px;
    text-align: center;
}

legend{
    background-color: #7DF9FF;
    color:#080808;
    padding: 6px;
}

textarea{
    width: 100%;
    height: 6em;
}

/* Media Styles*/

  @media only screen and (max-device-width: 480px) {
    body{
      width: fit-content;
      height:fit-content;
    }
    }
    
    .typing-demo {
        width: 58ch;
        animation: typing 2s steps(18), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-family: monospace;
        font-size: 2em;
      }
      
      @keyframes typing {
        from {
          width: 0
        }
      }
          
      @keyframes blink {
        50% {
          border-color: transparent
        }
      }
    
    .actions 
    {
      text-align: center;  
    }
    
      