@charset "utf-8";


/* HTML and Body Styles */
html{
    background-color: #0e116a;
}

body{
margin: 0 auto;
padding: 12;
max-width: 1020px;
min-width: 640px;
color:white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*div rules*/
div[class^="col-"]
{
    float: left;
}

div.row{
    clear: both;
}

div.row::after{
    clear: both;
    content: "";
    display: table;
}
div.col-1-1 {width: 100%}
div.col-1-2 {width: 50%}

div{
    outline: 1px solid white;
}